<section id="homePage">
  <div id="artistSearch">
    <form action="/artist-search" id="searchForm" method="GET">
        <input type="search" placeholder="type your artist here" name="searchArtist" />
        <button type="submit">Search for an Artist</button>
    </form>
    
  </div>
</section>
